*
{
    margin: 0px;
    padding: 0px;
    font-family: 'DejaVu Sans', sans-serif;
}

#body
{
    background-color: #fff;
}

#banner
{
    width: 100%;
    height: 30vh;
    background: rgb(255,153,0);
    background: linear-gradient(90deg, rgba(255,153,0,1) 0%, rgba(255,0,211,1) 100%);
    display: flex;
    align-items: center;
}

#banner #banner-text
{
    color: #fff;
    font-size: 6vh;
    margin-left: auto;
    margin-right: auto;
    
}

ul
{
    width: 100%;
    height: 20vh;
    text-align: center;
    margin-top: 10vh;
}
#centering
{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

a
{
    text-decoration-line: none;
    font-size: 3vh;
    color: #4a4a4a;
}

