*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: url('back.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'DejaVu Sans', sans-serif;
}

#triangle
{
    width: 35%;
    height: 16vh;
    background: white;
    position: absolute;
    left: 10%;
    bottom: 9vh;
}

.text
{
    font-size: 6vh;
    color: #1a1a1a;
    position: absolute;
    left: 17.5%;
    bottom: 13vh;
}

#dot
{
    font-size: 3vh;
    left: 34.5%;
    bottom: 11vh;
}
#red
{
    font-size: 8vh;
}

#textbox
{
    width: 35%;
    height: auto;
    left: 10%;
    top: 10vh;
    position: absolute;
}
a
{
    background: #1a1a1a;
    font-size: 5vh;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}

#about
{
    background: white;
    width: 35%;
    height: 36vh;
    left: 10%;
    top: 36vh;
    position: absolute;
}

#title
{
    text-align: center;
    font-size: 6vh;
    margin-top: 1vh;
}

#tex
{
    width: 80%;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.9vh;
    word-break: break-all;
}

a:hover
{
    color: #ff79c6;
}

a:active
{
    color: 	#8be9fd;
}